/*ESTILOS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: url(./fondoo.png);
}
#CajaConversor button {
  padding: 10px 10px 10px 10px;
  background-color: rgb(0, 170, 228);
  border-radius: 4px;
  border: none;
}
#CajaConversor {
  background: rgba(45, 46, 19, 0.7);
  color: #fff;
  border-radius: 5px;
  margin: auto;
  width: 900px;
  height: auto;
  padding-left: 25px;
  padding-top: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  margin-top: 50px;
}
.marca {
  padding: 100px;
  color: antiquewhite;
  font-size: 20px;
}
#CajaConversor input {
  width: 25%;
  padding: 10px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  border-bottom: 4px solid #b62828;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  color: rgb(0, 30, 56);
  margin-top: 20px;
}
